#chessboard_table {
    border-color: rgba(0,0,0,1);
    border-spacing: 0px;
}

#taConsole {
	min-width: 524px;
	min-height: 100px;
	visibility: hidden;
}

#logBtn {
	visibility: hidden;
}

h1 {
	margin: 10px;
}
